{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex,nofollow" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Science Lab</title>
    <link href="{% static 'css/bootstrap.min-1.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-1.css' %}" rel="stylesheet">
	<link href="{% static 'css/element-1.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min-1.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <script src="{% static 'js/jquery-2.1.1.min-1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min-1.js' %}"></script>

  </head>

<body>
<section id="header">
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			
			<div class="navbar-header">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="index.html"><span class="small_1"><i class="fa fa-sun-o"></i></span>OPEN SCIENCE LAB</a>
	</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="index.html">HOME</a></li>
					<li><a href="{% url 'work1' %}">HOW THE OSL WORKS</a></li>
					<li><a href="{% url 'use1' %}">WHY USE OSL</a></li>
					<li><a href="{% url 'instrumentation1' %}">ANALYTICAL INSTRUMENTATION</a></li>
					<li><a href="{% url 'expirement1' %}">GET STARTED</a></li>
					<li><a href="{% url 'registration' %}">REGISTER</a></li>		
              
               {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">LOGOUT</a></li> 
              
               {% else %}
               <li><a href="{% url 'login' %}">LOGIN</a></li>
               
               {% endif %}
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">DROPDOWN <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="about.html">ABOUT</a></li>
							<li><a href="team.html">TEAM</a></li>
							<li><a href="gallery.html">GALLERY</a></li>
							<li><a href="about.html">ABOUT</a></li>
							<li><a href="services.html">SERVICES</a></li>
							<li><a href="contact.html">CONTACT</a></li>
						</ul>
					</li> -->
					<!-- <li><a href="pages.html">PAGES</a></li> -->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</section>
<section id="center" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="center_1">
	 <h4>We are committed to excellence</h4>
	 <h2>OPEN SCIENCE LAB.!</h2>
	 <p><a href="#">Read more</a></p>
	</div>
   </div>
  </div>
 </div>
</section>
<section id="middle">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
      <div class="col-sm-4 padding_left_1">
	    <div class="middle_new clearfix">
		  <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/1.jpeg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		  <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Nunc</a></h4>
	  <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
	      <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/3.jpg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		   <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Massa</a></h4>
	  <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
		</div>
		<div class="middle_new clearfix">
		  <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/5.jpg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		  <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Nunc</a></h4>
	  <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
	      <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/kuka.jpeg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		   <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Massa</a></h4>
	  <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
		</div>
	  </div>
	  <div class="col-sm-4 padding_left_1">
	    <div class="middle_new_1 clearfix">
		 <!-- <img src="img/check1/4.jpg" width="100%"> -->
		</div>
	  </div>
	  <div class="col-sm-4 padding_left_1">
	     <div class="middle_new clearfix">
		    <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/3.jpg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		   <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Duis</a></h4>
	   <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
	        <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/4.jpg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		  <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Quis</a></h4>
	   <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
		 </div>
		 <div class="middle_new clearfix">
		    <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/5.jpg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		   <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Duis</a></h4>
	   <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
	        <div class="col-sm-6 padding_left_1">
	 <div class="middle_1">
	  <div class="ih-item circle effect1"><a href="#">
	  <div class="spinner"></div>
	  <div class="img"><img src="{% static 'img/check1/kuka.jpeg' %}" alt="img"></div>
	  <div class="info">
		<div class="info-back">
		  <h3>Lacinia Nunc</h3>
		  <p>Dignissim Lacinia</p>
		</div>
	  </div></a></div>
	 </div>
	 <div class="middle_2">
	  <h4 class="text-center"><a href="#">Quis</a></h4>
	   <p class="text-center">May 11 - Mar 20</p>
	 </div>
	</div>
		 </div>	    	
	  </div>	
   </div>   
  </div>
 </div>
</section>
<section id="work">
 <div class="work_main cleafix">
   <div class="container">
  <div class="row">
   <div class="col-sm-12 padding_all">
    <div class="col-sm-7">
	 <div class="work_1">
	  <h2>Open Science Lab</h2>
	  <h4>The greatest scientists are artists as well - Albert Einstein</h4>
	  <p>The scientific method is a potentiation of common sense, exercised with a specially firm determination not to persist in error if any exertion of hand or mind can deliver us from it - John Dewey</p>
	  <h5>Science is the poetry of reality - Richard Dawkins</h5>
	 </div>
	</div>
	<div class="col-sm-5">
	 <div class="col-sm-12">
	  <div class="col-sm-6 left_1">
	   <div class="work_2">
	    <h1>22</h1>
		<p>Experiments Conducted successfully</p>
	   </div>
	  </div>
	  <div class="col-sm-6 left_1">
	   <div class="work_2">
	    <h1>15</h1>
		<p>Happy users</p>
	   </div>
	  </div>
	 </div>
	 <div class="col-sm-12">
	  <div class="col-sm-6 left_1">
	   <div class="work_2">
	    <h1>21</h1>
		<p>Organizations with us</p>
	   </div>
	  </div>
	  <div class="col-sm-6 left_1">
	   <div class="work_2">
	    <h1>111</h1>
		<p>Problems resolved</p>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div> 
</section>
<section id="most">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 padding_all">
    <div class="most_1 clearfix">
	 <h1 class="text-center">Success Stories<br/>- Open Science Lab</h1>
	</div>
	<div class="col-sm-3">
	 <div class="most_2">
	  <h1 class="text-center"><i class="fa fa-binoculars"></i></h1>
	  <h2 class="text-center"><a href="#">Experiment-1</a></h2>
	  <p class="text-center">Curabitursodales Ligula<br/> Praesent mauris. Fusce nec tellus sed augue semper porta Mauris massa. Vestibulum </p>
	  <h4 class="text-center"><a href="#">Read more</a></h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="most_2">
	  <h1 class="text-center"><i class="fa fa-asterisk"></i></h1>
	  <h2 class="text-center"><a href="#">Experiment-2</a></h2>
	  <p class="text-center">Curabitursodales Ligula<br/> Praesent mauris. Fusce nec tellus sed augue semper porta Mauris massa. Vestibulum </p>
	  <h4 class="text-center"><a href="#">Read more</a></h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="most_2">
	  <h1 class="text-center"><i class="fa fa-bookmark"></i></h1>
	  <h2 class="text-center"><a href="#">Experiment-3</a></h2>
	  <p class="text-center">Curabitursodales Ligula<br/> Praesent mauris. Fusce nec tellus sed augue semper porta Mauris massa. Vestibulum </p>
	  <h4 class="text-center"><a href="#">Read more</a></h4>
	 </div>
	</div>
	<div class="col-sm-3">
	 <div class="most_2">
	  <h1 class="text-center"><i class="fa fa-coffee"></i></h1>
	  <h2 class="text-center"><a href="#">Experiment-4</a></h2>
	  <p class="text-center">Curabitursodales Ligula<br/> Praesent mauris. Fusce nec tellus sed augue semper porta Mauris massa. Vestibulum </p>
	  <h4 class="text-center"><a href="#">Read more</a></h4>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<section id="product">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="product_1">
	 <h2>Nulla Quis Sem Nibh Elementum Imperdiet</h2>
	 <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.torquent per conubia.</p>
	</div>
	<div class="col-sm-4">
	 <div class="product_2">
	  <p><a href="#"><img src="{% static 'img/check1/4.jpg' %}" alt="abc"></a></p>
	 </div>
	 <div class="product_3">
	  <h2>Arcu Eget</h2>
	  <h4>Torquent Conubia</h4>
	  <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.torquent conubia.</p>
	  <ul>
	      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="product_2">
	  <p><a href="#"><img src="{% static 'img/check1/4.jpg' %}" alt="abc"></a></p>
	 </div>
	 <div class="product_3">
	  <h2>Lacinia Nunc</h2>
	  <h4>Elementum</h4>
	  <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.torquent conubia.</p>
	  <ul>
	      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	  </ul>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="product_2">
	  <p><a href="#"><img src="{% static 'img/check1/4.jpg' %}" alt="abc"></a></p>
	 </div>
	 <div class="product_3">
	  <h2>Praesent Mauris</h2>
	  <h4>Conubia Nostra</h4>
	  <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.torquent conubia.</p>
	  <ul>
	      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<section id="prices">
  <div class="prices_main clearfix">
    <div class="container">
  <!-- <div class="row">
   <div class="col-sm-12 padding_all">
    <div class="prices_1">
	 <h2 class="text-center">Lacinia Nunc</h2>
	 <p class="text-center">Fusce nec tellus sed augue semper porta. Mauris massa<br/> Vestibulum lacinia arcu eget..</p>
	</div>
	<div class="col-sm-4">
	 <div class="prices_main_1 clearfix">
	   <div class="prices_2">
	  <h2 class="text-center">Conubia Nostra</h2>
	  <p class="text-center">Fusce</p>
	 </div>
	   <div class="prices_3">
	  <h2 class="text-center">$23</h2>
	  <h3 class="text-center">Dignissim</h3>
	  <h4 class="text-center">Elementum Imperdiet</h4>
	  <h5 class="text-center">Sed Augue</h5>
	  <p class="text-center"><a href="#">Read More</a></p>
	 </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="prices_main_2 clearfix">
	   <div class="prices_5">
	  <h2 class="text-center">Praesent Mauris</h2>
	  <p class="text-center">Semper</p>
	 </div>
	   <div class="prices_3">
	  <h2 class="text-center">$56</h2>
	  <h3 class="text-center">Dignissim</h3>
	  <h4 class="text-center">Elementum Imperdiet</h4>
	  <h5 class="text-center">Sed Augue</h5>
	  <p class="text-center"><a href="#">Read More</a></p>
	 </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="prices_main_3 clearfix">
	   <div class="prices_6">
	  <h2 class="text-center">Augue Semper</h2>
	  <p class="text-center">Massa</p>
	 </div>
	   <div class="prices_3">
	  <h2 class="text-center">$23</h2>
	  <h3 class="text-center">Dignissim</h3>
	  <h4 class="text-center">Elementum Imperdiet</h4>
	  <h5 class="text-center">Sed Augue</h5>
	  <p class="text-center"><a href="#">Read More</a></p>
	 </div>
	 </div>
	</div>
   </div>
  </div> -->
 </div>
  </div>
</section>
<section id="latest">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 padding_all">
    <div class="latest_1">
    <h2>Sed Dignissim Lacinia</h2>
   </div>  
    <div class="col-sm-4">
    <div class="latest_2">
	 <div class="ih-item square effect15 left_to_right"><a href="#">
	  <div class="img"><img src="{% static 'img/check1/5.jpg' %}" alt="img"></div>
	  <div class="info">
		<h3>Conubia Nostra</h3>
		<p>Curabitursodales Ligula</p>
	  </div></a></div>
	</div>
	<div class="latest_3">
	 <div class="latest_main clearfix">
	  <h2><a href="#">Lorem Ipsum Dolor Sit</a></h2>
	   <p>Praesent mauris. Fusce nec tellus sed augue<br/> semper porta. Mauris massa. Vestibulum lacinia<br/> Curabitursodales ligula..</p>
	   <ul class="social-network social-circle">
			<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
			<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul> 
	 </div>	 
	</div>
   </div>
    <div class="col-sm-4">
    <div class="latest_2">
	 <div class="ih-item square effect15 left_to_right"><a href="#">
	  <div class="img"><img src="{% static 'img/check1/5.jpg' %}" alt="img"></div>
	  <div class="info">
		<h3>Conubia Nostra</h3>
		<p>Curabitursodales Ligula</p>
	  </div></a></div>
	</div>
	<div class="latest_3">
	 <div class="latest_main clearfix">
	  <h2><a href="#">Lorem Ipsum Dolor Sit</a></h2>
	   <p>Praesent mauris. Fusce nec tellus sed augue<br/> semper porta. Mauris massa. Vestibulum lacinia<br/> Curabitursodales ligula..</p>
	   <ul class="social-network social-circle">
			<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
			<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul> 
	 </div>	 
	</div>
   </div>
    <div class="col-sm-4">
    <div class="latest_2">
	 <div class="ih-item square effect15 left_to_right"><a href="#">
	  <div class="img"><img src="{% static 'img/check1/5.jpg' %}" alt="img"></div>
	  <div class="info">
		<h3>Conubia Nostra</h3>
		<p>Curabitursodales Ligula</p>
	  </div></a></div>
	</div>
	<div class="latest_3">
	 <div class="latest_main clearfix">
	  <h2><a href="#">Lorem Ipsum Dolor Sit</a></h2>
	   <p>Praesent mauris. Fusce nec tellus sed augue<br/> semper porta. Mauris massa. Vestibulum lacinia<br/> Curabitursodales ligula..</p>
	   <ul class="social-network social-circle">
			<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
			<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul> 
	 </div>	 
	</div>
   </div>
   </div>
  </div>
 </div>
</section>
<section id="footer">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="footer_main clearfix">
	 <div class="col-sm-4">
	 <div class="footer_1">
	  <h3>NULLA QUIS</h3>
	  <hr class="hr_4">
	  <p>Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.torquent per conubia nostra,</p>
	  <h4><i class="fa fa-phone"></i>+91 1234 567 890</h4>
	  <h5><i class="fa fa-envelope"></i>info@gmail.com</h5>
	 </div>
	</div>
	 <div class="col-sm-4">
	 <div class="footer_1">
	  <h3>QUIS SEM</h3>
	  <hr class="hr_4">
	 </div>
	 <div class="col-sm-12 space_all">
	  <div class="col-sm-6 space_all">
	   <div class="footer_2">
	    <ul>
		    <li><a href="#"><i class="fa fa-arrow-right"></i>Massa</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Quis</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Semper</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Fusce</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Integer</a></li>
		</ul>
	   </div>
	  </div>
	  <div class="col-sm-6 space_all">
	   <div class="footer_2">
	    <ul>
		    <li><a href="#"><i class="fa fa-arrow-right"></i>Lacinia</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Dignissim</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Sed</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Sagittis</a></li>
			<li><a href="#"><i class="fa fa-arrow-right"></i>Adipiscing</a></li>
		</ul>
	   </div>
	  </div>
	 </div>
	</div>
	 <div class="col-sm-4">
	 <div class="footer_1">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3635689.793072721!2d78.6421709625!3d27.141236999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1531201517392 " height="300" style="border:0; width:100%;" allowfullscreen=""></iframe>
	 </div>
	</div>
	</div>
   </div>
   <div class="col-sm-12">
    <div class="col-sm-6 space_all">
	 <div class="footer_6">
	  <p>© 2016 Interient. All Rights Reserved. Design By <a href="http://www.templateonweb.com">Template On Web</a></p>
	 </div>
	</div>
	<div class="col-sm-6 space_all">
	 <div class="footer_7">
	  <ul>
	      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
		  <li><a href="#"><i class="fa fa-rss"></i></a></li>
		  <li><a href="#"><i class="fa fa-skype"></i></a></li>
		  <li><a href="#"><i class="fa fa-share-alt"></i></a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>
<script src="{% static 'js/classie-1.js' %}"></script> 
<script src="{% static 'js/cbpAnimatedHeader-1.js' %}"></script>
<script src="{% static 'js/skrollr-1.js' %}"></script>
</body>
</html>